
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/img/BannerClientes.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Modulo de Clientes</h5>
                  <p class="card-text">Realiza un control de todos los clientes.</p>
                  <a href="/Clientes" class="btn btn-primary">Ir a Clientes</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/img/BannerProductos.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/img/BannerVentas.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <br>
      
        <div class="col">
            <br>
            <div class="card" style="width: 18rem;">
                <img src="/assets/img/BannerEmpleados.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
       
        
    </div>
    

     
</div>