<h3>TechnoFactory <span class="badge bg-secondary">Inicio</span></h3>
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/img/BannerClientes.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Moduló de Clientes</h5>
                  <p class="card-text">Realiza un control de todos los clientes.</p>
                  <a href="/Clientes" class="btn btn-primary">Ir a Clientes</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/img/BannerProductos.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Moduló de Productos</h5>
                  <p class="card-text">Se encarga de llevar un control de todos los Productos de la tienda.</p>
                  <a href="#" class="btn btn-primary">Ir a Productos</a>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/img/BannerVentas.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Moduló de Ventas</h5>
                  <p class="card-text">Se encarga de la facturación de los productos vendidos por la tienda</p>
                  <a href="#" class="btn btn-primary">Ir a Ventas</a>
                </div>
              </div>
        </div>
        <br>
      
        <div class="col">
            <br>
            <div class="card" style="width: 18rem;">
                <img src="/assets/img/BannerEmpleados.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Moduló de Empleados</h5>
                  <p class="card-text">Se encarga de llevar un control de Empleados que laboran en la tienda.</p>
                  <a href="#" class="btn btn-primary">Ir a Empleados</a>
                </div>
              </div>
        </div>
       
        
    </div>
    

     
</div>