<div class="container-md">
    <div class="row">
        <div class="col-md-6">
            <br>
            <div class="card">
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">
                    <form Method="post">
                        <div class="form-group">
                            <label for="txtUser">Usuario</label>
                            <input type="text" class="form-control" name="txtUser" aria-describedby="emailHelp"
                                placeholder="Escriba su Usuario">
                            <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu información con
                                nadie más.</small>
                        </div>
                        <div class="form-group">
                            <label for="txtContra">Contraseña</label>
                            <input type="password" class="form-control" name="txtContra"
                                placeholder="Escriba su contraseña">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>