<section class="full-reset text-center" style="padding: 40px 0;">
            <article class="tile">
                <div class="tile-icon full-reset"><i class="zmdi zmdi-face"></i></div>
                <div class="tile-name all-tittles">Clientes</div>
                <div class="tile-num full-reset">8</div>
            </article>
            <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-desktop-mac"></i></div>
                <div class="tile-name all-tittles">Productos</div>
                <div class="tile-num full-reset">8</div>
            </article>
            <article class="tile">
                <div class="tile-icon full-reset"><i class="zmdi zmdi-money"></i></div>
                <div class="tile-name all-tittles">Ventas</div>
                <div class="tile-num full-reset">8</div>
            </article>
            <article class="tile">
                <div class="tile-icon full-reset"><i class="zmdi zmdi-bookmark-outline"></i></div>
                <div class="tile-name all-tittles">categorías</div>
                <div class="tile-num full-reset">8</div>
            </article>
            <article class="tile">
                <div class="tile-icon full-reset"><i class="zmdi zmdi-assignment-account"></i></div>
                <div class="tile-name all-tittles">Empleados</div>
                <div class="tile-num full-reset">8</div>
            </article>
      
           
        </section>